---
layout: default
title: "Research"
description: "Research projects in the lab"
group: navigation
navorder: 1
---
{% include JB/setup %}
<div class="bigspacer"></div>
<div class="construction">
  <hr/>
  We are working on this page. Stay tuned.
  </br>
  <img class='img-circle' src='/assets/images/under_construction.gif' title='Under construction' alt='Stick figure shoveling' width='180px' />
  <hr/>
</div>

<h2>Active Projects</h2>
<div class="container">
{% assign active_projects = site.categories.projects | where: "active","true"%}
{% for project in active_projects %}
<div class='row'>
  <!--
  <div class='row'>
    <div class='col-md-12'>
    <div class="media">
      <a class="project-image" href="{{ project.url }}">
        <img class="media-object" src="{{ project.image }}">
      </a>
    </div>
  </div>
  -->

      <div class="media">
          <div class="col-md-3">
          <a class="media-left" href="{{ project.url }}">
            <img class="pull-left mr-3 img-responsive" src="/assets/images/projects/{{ project.image }}" alt="{{ project.title }}">
          </a>
          </div>
          <div class="media-body">
              <a href="{{ project.url }}">
              <h4 class="media-heading">{{ project.title }} <small class="text-muted">({{ project.years }})</small></h4>
              </a>

              {% for member in project.team %}
              {% assign person = site.categories.team | where:"handle", member | first %}
              <a href="{{ person.url }}">
                <img src="{{ person.image }}" class="img-circle" alt="{{ person.title }}" height="60">
              </a>
              {% endfor %}

              <p>{{ project.summary }}</p>

              {% assign project-papers = site.categories.papers | where:"project", project.handle %%}
              {% for paper in project-papers %}
              {% if paper.embargo %}
              <p><i class="far fa-file-alt" aria-hidden="true"></i> {{ paper.title }}
              {% else %}
              <p><a href="{{ paper.url }}" class="off"><i class="far fa-file-alt fa-fw" aria-hidden="true"></i> {{ paper.title }}</a>
              {% endif %}
              {% endfor %}

          </div>
      </div>
<!--
      <div class="media">
        <a class="project-image" href="{{ project.url }}">
          <img class="media-object" src="/assets/images/projects/{{ project.image }}" width=>
        </a>
      </div>
  </div>
  <div class="col-md-8">
      <div class="smallhead media-heading">
          <a href="{{ project.url }}" class="off">{{ project.title }}</a>
          <small class="text-muted">({{ project.years }})</small>
      </div>

      {% for member in project.team %}
      {% assign person = site.categories.team | where:"handle", member | first %}
      <a href="{{ person.url }}">
        <img src="{{ person.image }}" class="img-circle" alt="{{ person.title }}" height="60">
      </a>
      {% endfor %}

      <p>{{ project.summary }}</p>
-->


</div>
<div class="bigspacer"></div>
{% endfor %}

<div class="bigspacer"></div>
</div>

<h2>Inactive Projects</h2>
{% assign inactive_projects = site.categories.projects | where: "active","false"%}
{% for project in inactive_projects %}
{% endfor %}
