---
layout: default
title: "Join"
description: "Open Positions"
group: navigation
navorder: 6
---
{% include JB/setup %}
<div class="hugespacer"></div>
<div class="head"><big>Join the Getz Lab...we are hiring!</big></div>
<div class="bigspacer"></div>
<div class="post">Come join us in the Getz Lab (Broad Institute / MGH Cancer Center) to help shape the future of cancer research at the cutting edge of computaional genomics and cancer biology.  Current open positions:</div>

<div class="bigspacer"></div>
<div class="row">
  <div class="col-md-6">
    <div class="head">Broad</div>
    {% for job in site.categories.positions %}    		     
    <div class="row">
            {% if job.institution == "Broad" %}
	    <div class="bigspacer"></div>
	      <div class="position">
			<div class="smallhead">
				<a href="{{ job.postingurl }}">{{ job.title }}</a>
			</div>
			<div class="smallnote">
				{{ job.date | date_to_string }}
			</div>	
              </div>
            {% endif %}
    </div>
    {% endfor %}
  </div>
  <div class="col-md-6">
    <div class="head">MGH</div>
    {% for job in site.categories.positions %}    		     
    <div class="row">
            {% if job.institution == "MGH" %}
	    <div class="bigspacer"></div>
	      <div class="position">
			<div class="smallhead">
				<a href="{{ job.postingurl }}">{{ job.title }}</a>
			</div>
			<div class="smallnote">
				{{ job.date | date_to_string }}
			</div>	
              </div>
            {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="post">
  We are always seeking highly qualified people for the following roles:  
  <div class="bigspacer"></div>
  <ul class="tag_box" style="list-style-type:none;padding: 10">
    <li>Computational Biologist</li>
    <li>Software Engineer</li>
    <li>Research and Computational Associate</li>
    <li>Postdoctoral Fellow</li>
  </ul>
</div>

