---
layout: default
title: Niemeyer Research Group
categories: [home]
---
{% include JB/setup %}

<div class="bigspacer"></div>

<div class="row">
    <div class="col-md-12">
    <div class="carousel-overlay logotitle logobox">
        {{ page.title }}
    </div>
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for image in site.data.banner-images %}
            {% if forloop.index0 == 0 %}
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            {% else %}
            <li data-target="#carousel" data-slide-to="{{ forloop.index0 }}"></li>
            {% endif %}
            {% endfor %}
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            {% for image in site.data.banner-images %}
            {% if forloop.index0 == 0 %}
            <div class="item active">
                <img src="/assets/images/banner/{{ image.name }}" width='1200px' alt="{{ image.alt }}">
            </div>
            {% else %}
            <div class="item">
                <img src="/assets/images/banner/{{ image.name }}" width='1200px' alt="{{ image.alt }}">
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!-- Carousel nav -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    </div>
</div>

<div class="hugespacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="smallhead">
            <p>
                We study <strong>fluid dynamics</strong> phenomena using computer simulations,
                particularly fluid flows involving chemical reactions such as <strong>combustion</strong>.
                Our work extends from <strong>chemical kinetic reaction models</strong> for transportation
                fuels to computationally expensive, direct numerical simulations of
                <strong>turbulent combustion</strong>.
            </p>

            <p>
                Our research focuses on numerical methods to reduce the computational expense
                of accurately simulating combustion and engineering fluid flows,
                as well as the actual physical phenomena like turbulence-chemistry interactions
                and smoldering combustion.
            </p>
		</div>
	</div>
</div>

<div class="hugespacer"></div>

<div class="row">
	<div class="col-md-4">
		<div class="head">
			<a class="off" href="/news/">News</a>
		</div>
		<div class="bigspacer"></div>
		<div class="feedbox pad-left">
			{% for news in site.categories.news limit:4 %}

				{% for member in site.categories.team %}
					{% if member.handle == news.author_handle %}
						{% assign author = member %}
					{% endif %}
				{% endfor %}

				<div class="note-title">
					<i class="fas fa-bullhorn fa-fw"></i>
					<a class="off" href="{{ news.url }}">
					{{ news.title }}
					</a>
				</div>
				<div class="note">
					{{ news.content }}
				</div>
				<div class="smallspacer"></div>
				<div class="smallnote">
					Posted
					{{ news.date | date_to_string }}
					{% if author %}
					by <a class="off" href="{{ author.url }}">{{ author.nickname }}</a>
					{% endif %}
				</div>
				<div class="spacer"></div>
				<div class="spacer"></div>
			{% endfor %}
		</div>
		<div class="bigspacer"></div>
	</div>
	<div class="col-md-4">
		<div class="head">
			<a class="off" href="/blog/">Posts</a>
		</div>
		<div class="bigspacer"></div>
		<div class="feedbox pad-left">
			{% for post in site.categories.blog limit:4 %}

				{% for member in site.categories.team %}
					{% if member.handle == post.author_handle %}
						{% assign author = member %}
					{% endif %}
				{% endfor %}

				<div class="note-title">
					<i class="far fa-comment fa-fw"></i>
					<a class="off" href="{{ post.url }}">
					{{ post.title }}
					</a>
				</div>
				<div class="smallspacer"></div>
				<div class="smallnote">
					Posted
					{{ post.date | date_to_string }}
					{% if author %}
					by <a class="off" href="{{ author.url }}">{{ author.nickname }}</a>
					{% endif %}
				</div>
				<div class="spacer"></div>
				<div class="spacer"></div>
			{% endfor %}
		</div>
		<div class="bigspacer"></div>
	</div>
	<div class="col-md-4">
		<div class="head">
			<a class="off" href="/papers/">Papers
			</a>
		</div>
		<div class="bigspacer"></div>
		<div class="feedbox pad-left">
			{% for paper in site.categories.papers limit:4 %}
				<div class="note-title">
					<i class="far fa-file-alt fa-fw"></i>
					<a class="off" href="{{ paper.url }}">
					{{ paper.title }}
					</a>
					<br/>
					<div class='shortref note'>
					{{ paper.shortref }}
					</div>
				</div>
				<div class="smallspacer"></div>
				<div class="smallnote">
					Published
					{{ paper.date | date_to_string }}
				</div>
				<div class="spacer"></div>
				<div class="spacer"></div>
			{% endfor %}
		</div>
		<div class="bigspacer"></div>
	</div>
</div>

<div class="bigspacer"></div>
