---
layout: default
title: The Drummond Lab
categories:
 - home
---

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<object class="pull-left biglogo" data="/assets/images/logo.svg" type="image/svg+xml"></object>
		<div class="bigtitle logobox">
			The Drummond Lab
		</div>
	</div>				
</div>

<div class="hugespacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="smallhead">
			<p>
			We study <strong>how cells adapt</strong> at the molecular level, focusing on <strong><term>translation</term></strong>, the process by which cells produce proteins using genetic information. Our analyses extend from the <strong>near-instantaneous cellular responses</strong> to environmental stress to the <strong>multi-million-year evolutionary divergence</strong> of species.
			</p>
			<p>
			Our overarching strategy is to build and integrate biochemical, biophysical, cell-biological, and evolutionary data into a coherent whole. We test and exploit useful findings by <strong>engineering molecules</strong> using our biological discoveries.
			</p>
		</div>
	</div>				
</div>

<div class="hugespacer"></div>

<div class="row">
	<div class="col-md-4">
		<div class="head">
			<a class="off" href="/blog/">Recent news</a>
		</div>
		<div class="bigspacer"></div>
		<div class="feedbox pad-left">
			{% for news in site.categories.news limit:8 %}
			
				{% for member in site.categories.team %}
					{% if member.title == news.author %}
						{% assign author = member %}
					{% endif %}
				{% endfor %}		
				
				<div class="note">
					<i class="fa fa-comment-o fa-fw"></i>
					<a class="off" href="{{ news.url }}">
					{{ news.title }}
					</a>
				</div>
				<div class="note">
					{{ news.content }}
				</div>
				<div class="smallspacer"></div>
				<div class="smallnote">
					Posted
					{{ news.date | date_to_string }}
					{% if author %}
					by <a class="off" href="{{ author.url }}">{{ author.author }}</a>
					{% endif %}						
				</div>
				<div class="spacer"></div>	
				<div class="spacer"></div>				
			{% endfor %}
		</div>
		<div class="bigspacer"></div>		
	</div>
	<div class="col-md-4">
		<div class="head">
			<a class="off" href="/blog/">Recent posts</a>
		</div>
		<div class="bigspacer"></div>
		<div class="feedbox pad-left">
			{% for post in site.categories.blog limit:8 %}
			
				{% for member in site.categories.team %}
					{% if member.title == post.author %}
						{% assign author = member %}
					{% endif %}
				{% endfor %}		
				
				<div class="note">
					<i class="fa fa-comment-o fa-fw"></i>
					<a class="off" href="{{ post.url }}">
					{{ post.title }}
					</a>
				</div>
				<div class="smallspacer"></div>
				<div class="smallnote">
					Posted
					{{ post.date | date_to_string }}
					{% if author %}
					by <a class="off" href="{{ author.url }}">{{ author.handle }}</a>
					{% endif %}						
				</div>
				<div class="spacer"></div>	
				<div class="spacer"></div>				
			{% endfor %}
		</div>
		<div class="bigspacer"></div>		
	</div>
	<div class="col-md-4">
		<div class="head">
			<a class="off" href="/papers/">
				Recent papers
			</a>
		</div>
		<div class="bigspacer"></div>
		<div class="feedbox pad-left">		
			{% for paper in site.categories.papers limit:8 %}
				<div class="note">
					<i class="fa fa-file-text-o fa-fw"></i>
					<a class="off" href="{{ paper.url }}">
					{{ paper.title }}
					</a>
				</div>
				<div class="smallspacer"></div>
				<div class="smallnote">
					Posted
					{{ paper.date | date_to_string }}
				</div>
				<div class="spacer"></div>	
				<div class="spacer"></div>				
			{% endfor %}
		</div>
		<div class="bigspacer"></div>		
	</div>
</div>

<div class="bigspacer"></div>

