---
layout: default
title: The Getz Lab
categories:
 - home
---
{% include JB/setup %}
{% for page in site.categories.misc %}
{% if page.homepage %}
	{% assign homepage = page %}
{% endif %}
{% endfor %}

  
<div class="hugespacer"></div>

<div class="row">
  <div class="col-md-12">
    <img width=250 class="pull-left" src="{{ ASSET_PATH }}/images/logo/GETZLAB_OFFICIAL_LOGO-color.svg" style="padding-top: 20px; padding-right: 5px;"></img>
    <div align="right">
      <div class="bigtitle logobox">
        The Getz Lab
      </div>
    </div>
  </div>  
</div>

<div class="row">
	<div class="col-md-12">
	<div id="carousel" class="carousel carousel-fade" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carousel" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel" data-slide-to="1"></li>
	    <li data-target="#carousel" data-slide-to="2"></li>
	  </ol>
	  <!-- Carousel items -->
	  <!-- DAD: this should be dynamically populated. -->
	  <div class="carousel-inner">
	    <div class="active item">
                <img src="/assets/images/gaddygram.png"  width='1200px' alt="">
	    </div>
	    <div class="item">
                <img src="/assets/images/events/Fall_2021_farm_trip/team_photo_fall_2021.jpg"  width='1200px' alt="">
	    </div>
	  </div>
	  <!-- Carousel nav -->
	  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	    <!-- <span class="sr-only">Previous</span> -->
	  </a>
	  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	    <!-- <span class="sr-only">Next</span> -->
	  </a>
	</div>
	</div>				
</div>

<div class="hugespacer"></div>

<div class="row">
	<div class="col-md-6">
            <div class="head">Lab Overview</div>
            <div class="bigspacer"></div>
		<div class="smallhead">
			{{ homepage.content }}
		</div>
	</div>
	<div class="col-md-6">
	  <div class="smallhead">
	    <div class="hugespacer"></div>
	    <div class="bigspacer"></div>
            <img src="/assets/images/group_pic_20210630_140731.jpg">
	  </div>
	</div>
</div>

<div class="hugespacer"></div>

<div class="row">
	<div class="col-md-4">
          <ul style="list-style-type:none">
	    <li><img src="{{ ASSET_PATH }}/images/logo/MGHShield.svg" type="image/svg+xml"></li>
	    <div class="spacer"></div>
            <li><a href={{ site.dept_mgh_pathology.url }}>{{ site.dept_mgh_pathology.name }}</a></li>
	    <li><a href={{ site.dept_mgh_cancer_center.url }}>{{ site.dept_mgh_cancer_center.name }}</a></li>
	  </ul>
	</div>
	<div class="col-md-4">
          <ul style="list-style-type:none">
	    <li><img src="{{ ASSET_PATH }}/images/logo/BroadSquare.png" type="image/png"></li>
	    <div class="spacer"></div>
            <li><a href={{ site.dept_broad_cancer_program.url }}>{{ site.dept_broad_cancer_program.name }}</a></li>
          </ul>
	</div>
	<div class="col-md-4">
          <ul style="list-style-type:none">
	    <li><img src="{{ ASSET_PATH }}/images/logo/HarvardShield.svg" type="image/svg+xml"></li>
	    <div class="spacer"></div>
            <li><a href={{ site.dept_hms_pathology.url }}>{{ site.dept_hms_pathology.name }}</a></li>
          </ul>
	</div>
</div>


<div class="hugespacer"></div>

<div class="row">
	<div class="col-md-6">
		<div class="head">
			Recent <a class="off" href="/papers/">Papers
			</a>
		</div>
                {% assign team_citation_names = "" | split: ", " %}
                {% for team_member in site.categories.team %}
                  {% if team_member.citation_names %}
                    {% assign member_citation_names = team_member.citation_names | split: ", " %}
                    {% assign team_citation_names = team_citation_names | concat: member_citation_names %}
                  {% endif %}
                {% endfor %}
                {% assign team_citation_names = team_citation_names | join: ", " %}
		
		<div class="bigspacer"></div>
		<div class="feedbox pad-left">
                        {% for paper in site.categories.papers limit:6 %}

                          {% assign first_authors = paper.first_authors | split: ", " %}
                          {% assign revised_first_authors = "" | split: ", " %}
                          {% for first_author in first_authors %}
                            {% if team_citation_names contains first_author %}        
                              {% assign revised_first_author = "<b>" | append: first_author | append: "</b>" %}
                              {% assign revised_first_authors = revised_first_authors | push: revised_first_author %}
                            {% else %}
                              {% assign revised_first_authors = revised_first_authors | push: first_author %}
                            {% endif %}
                          {% endfor %}      
                          {% assign  revised_first_authors  = revised_first_authors | join: ", " %}
                          {% assign shortref = revised_first_authors | append: " et al. " | append: paper.journal | append: " " | append: paper.year %}


			         <!-- <div class="note-title"></div> -->
                            
		                 <!-- <div class="media"> -->
		                <div>
					<i class="fa fa-file-text-o fa-fw"></i>
					{% if paper.preprint %}
					Preprint: 
					<a class="off" href="{{ paper.url }}">
					{{ paper.title }}
					</a>
					{% else %}
					<a class="off" href="{{ paper.url }}">
					{{ paper.title }}
					</a>
					{% endif %}
					<br/>
					<div class='shortref note'>
					{{ shortref }}
					</div>
				</div>
				<div class="smallspacer"></div>
				<div class="smallnote">
					{% if paper.preprint %}
					Posted
					{% else %}
					Published
					{% endif %}
					{{ paper.date | date_to_string }}
				</div>
				<div class="spacer"></div>	
				<div class="spacer"></div>				
			{% endfor %}
		</div>
		<div class="bigspacer"></div>		
	</div>
	<div class="col-md-6">
		<div class="head">
			Recent <a class="off" href="/tweets/">Tweets
			</a>
                </div>
		<a class="twitter-timeline" data-width="500" data-tweet-limit="3" href="https://twitter.com/getz_lab?ref_src=twsrc%5Etfw">Tweets by getz_lab</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		<div class="bigspacer"></div>		
	</div>
</div>

<div class="bigspacer"></div>

