---
layout: default
title: News
description: News from the NBC lab
group: navigation
navorder: 6
category: news
---
{% include JB/setup %}

<div class="bigspacer"></div>
<div class="bigtitle text-center">News from the Lab</div>
<div class="smallspacer"></div>
<hr/>

<p>
We’re glad you’re interested in learning more about the Neuroinformatics and
Brain Connectivity (NBC) Laboratory at Florida International University (FIU)!
Our team likes to keep busy. Members from the lab participate in outreach events
throughout the community, present research at scientific conferences and meetings,
and much more. Here, you can learn about these activities, read about recent news
and scroll through photos. Would you like to know more? Feel free to
<a href="/contact#contact">contact us</a> with questions about
the stories found here!
</p>

<hr/>

{% for post in site.categories.news limit: 10 %}

	<div class="bigspacer"></div>
	<div class="row">
		<div class="col-md-3">
			<div class="head">
				{{ post.title }}
			</div>
			<div class="smallnote">
				{{ post.date | date_to_string }}
			</div>
		</div>
		<div class="col-md-8">
			<div style="height:5px;"></div>
			{% if post.image %}
			<a href="{{ post.url }}"><img class="offset" src="{{ post.image }}"></a>
			{% endif %}
			<div class="post">
				{{ post.content }}
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>

{% endfor %}

<div class="bigspacer"></div>
<div class="row">
	<div class="col-md-12 text-center">
		<a class="off" href="/{{ page.category }}/archive/">
			<div class="smallhead">Archive</div>
			<i class="text-gray fa fa-chevron-circle-down fa-2x"></i>
		</a>
	</div>
</div>


<div class="bigspacer"></div>
