---
layout: default
title: News
description: News from the NBC lab
group: navigation
navorder: 6
category: news
---
{% include JB/setup %}

<div class="bigspacer"></div>
<div class="bigtitle text-center">News from the Lab</div>
<div class="bigspacer"></div>

{% for post in site.categories.news limit: 10 %}

	<div class="bigspacer"></div>
	<div class="row">
		<div class="col-md-3">
			<div class="head">
				{{ post.title }}
			</div>
			<div class="smallnote">
				{{ post.date | date_to_string }}
			</div>
		</div>
		<div class="col-md-8">
			<div style="height:5px;"></div>
			{% if post.image %}
			<a href="{{ post.url }}"><img class="offset" src="{{ post.image }}"></a>
			{% endif %}
			<div class="post">
				{{ post.content }}
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>

{% endfor %}

<div class="bigspacer"></div>
<div class="row">
	<div class="col-md-12 text-center">
		<a class="off" href="/{{ page.category }}/archive/">
			<div class="smallhead">Archive</div>
			<i class="text-gray fa fa-chevron-circle-down fa-2x"></i>
		</a>
	</div>
</div>


<div class="bigspacer"></div>
