---
layout: default
title: "Protocols"
description: ""
group: subnavigation
navorder: 5
---
{% include JB/setup %}

<div class="pager">
  
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
		<a class="prev" href="/{{ page.category }}/">
			<i class="fa fa-chevron-left fa-lg"></i>
		</a>
		{% else %}
		<a class="prev" href="/{{ page.category }}/page{{ paginator.previous_page }}">
			<i class="fa fa-chevron-left fa-lg"></i>
		</a>
		{% endif %}  		
	{% endif %}  
  
	{% if paginator.next_page %}  
	<a class="next" href="/{{ page.category }}/page{{ paginator.next_page }}">
		<i class="fa fa-chevron-right fa-lg"></i>
	</a>	
	{% endif %}  	
    
</div>

Here you'll find protocols from others that we've found useful and tweaked to our liking, and our own protocols that we encourage others to use. Almost always a bit of both.

<hr>

{% for protocol in site.categories.protocol %}

		{% for member in site.categories.team %}
			{% if member.title == protocol.author %}
				{% assign author = member %}
			{% endif %}
		{% endfor %}
	
		<div class="bigspacer"></div>
		<div class="row">
			<div class="col-md-12">
				<div class="smallhead">
					<a href="{{ protocol.url }}" class="off">{{ protocol.title }}</a>
				</div>
				<div class="smallnote">
					{%comment%}{{ protocol.date | date_to_string }}{% endcomment %}
					{% if author %}
					by <a class="off" href="{{ author.url }}">{{ author.handle }}</a>
					{% endif %}				
				</div>
				<div class="subtle smallnote">
					tags:
					{% for tag in protocol.tags %}
						{{ tag }}{% if tag != protocol.tags.last %},{% endif %}
					{% endfor %}
				</div>

			</div>
		</div>		

{% endfor %}

{% comment %}

<div class="bigspacer"></div>	
<div class="row">
	<div class="col-md-12 text-center">
		<a class="off" href="/{{ page.category }}/archive/">
			<div class="smallhead">Archive</div>
			<i class="text-gray fa fa-chevron-circle-down fa-2x"></i>
		</a>
	</div>
</div>
{% endcomment %}


<div class="bigspacer"></div>
