---
layout: default
title: Team
description: "People in the lab"
group: navigation
navorder: 2
---
{% include JB/setup %}

{% assign temp = site.categories.team | reverse %}
{% assign current = "" | split: "" %}
{% assign alumni = "" | split: "" %}
{% for member in temp %}
    {% if member.alumni != true %}
		    {% assign current = current | push: member %}
		{% else %}
		    {% assign alumni = alumni | push: member %}
		{% endif %}
{% endfor %}

<div class="bigspacer"></div>
<div class="bigtitle text-center">The Team</div>
<div class="bigspacer"></div>

<table align="center"; width=1000px>
	{% tablerow member in current cols:2 %}
		<div class="col-md-1.25 memberbox">
			<div class="media">
					<a class="pull-left" href="{{ member.url }}">
						<img class="media-object member-photo" src="{{ member.image }}">
					</a>
				<div class="media-body">
						<div class="head media-heading member-name"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
						<p class="note">{{ member.position }}</p>
						<p class="note">{{ member.department }}</p>
					</div>
			</div>
		</div>
	{% endtablerow %}
</table>

<div class="bigspacer"></div>
<hr/>
<div class="bigtitle text-center">Alumni</div>
<div class="bigspacer"></div>

<table align="center"; width=1000px>
	{% tablerow member in alumni cols:2 %}
		<div class="col-md-1.5 memberbox">
			<div class="media">
					<a class="pull-left" href="{{ member.url }}">
						<img class="media-object member-photo" src="{{ member.image }}">
					</a>
				<div class="media-body">
						<div class="head media-heading member-name"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
						<p class="note">{{ member.position }}</p>
						<p class="note">{{ member.department }}</p>
					</div>
			</div>
		</div>
	{% endtablerow %}
</table>

<!--
<div class="bigspacer"></div>
{% for member in other reversed %}
	{% if member.alumni != true %}
    {% cycle 'add rows': '<div class="row">', nil, nil %}
		<div class="col-md-6 memberbox">
			<div class="media">
  				<a class="pull-left" href="{{ member.url }}">
    				<img class="media-object member-photo" src="{{ member.image }}">
  				</a>
 			 	<div class="media-body">
    				<div class="head media-heading member-name"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
    				<p class="note">{{ member.position }}</p>
            <p class="note">{{ member.department }}</p>
  				</div>
			</div>
    </div>
    {% cycle 'close rows': nil, nil, '</div><div class="bigspacer"></div>' %}
	{% endif %}
{% endfor %}
-->
<!-- {% comment %}
{% cycle 'close rows': nil, '</div><div class="bigspacer"></div>', '</div><div class="bigspacer"></div>' %}
{% endcomment %}
-->

<!-- comment out this next line if there are multiples of three members -->
<!-- </div> -->

<!--
<div class="bigspacer"></div>
<hr/>

<div class="row">
	<div class="col-md-12">
		<img class="team-photo" src="/assets/images/team/drummond-lab-20170726.png"/>
	</div>
</div>


<div class="bigspacer"></div>
<hr/>
<div class="bigtitle text-center">Alumni</div>
<div class="bigspacer"></div>

{% for member in site.categories.team %}
	{% if member.alumni == true %}
    {% cycle 'add rows': '<div class="row">', nil, nil %}
    <div class="col-md-6 memberbox">
      <div class="media">
          <a class="pull-left" href="{{ member.url }}">
            <img class="media-object member-photo" src="{{ member.image }}">
          </a>
        <div class="media-body">
            <div class="head media-heading member-name"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
            <p class="note">{{ member.position }}</p>
            <p class="note">{{ member.department }}</p>
          </div>
      </div>
    </div>
    {% cycle 'close rows': nil, nil, '</div><div class="bigspacer"></div>' %}
{% endif %}
{% endfor %}
{% comment %}
{% cycle 'close rows': nil, '</div><div class="bigspacer"></div>', '</div><div class="bigspacer"></div>' %}
{% endcomment %}

<!-- comment out this next line if there are multiples of three alumni -->
<!-- </div> -->

<div class="bigspacer"></div>
