---
layout: default
title: "Team"
description: "People in the lab"
group: navigation
navorder: 2
---
{% include JB/setup %}


<div class="hugespacer"></div>
<div class="bigtitle">Current Members</div>
<div class="bigspacer"></div>
<div class="title subtle">Principal Investigator</div>
<div class="bigspacer"></div>
{% assign pi = site.categories.team | where: "category","Principal Investigator"%}
{% for member in pi %}
    <div class="row">
    <div class="col-md-4 memberbox">
        <div class="media">
	    <a class="pull-left" href="{{ member.url }}">
            <img width=160 class="media-object" src="{{ member.image }}" style="float: left">
	    </a>
            <div class="media-body">
	    <div class="head media-heading member-name"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
	    <p class="note">{{ member.category }}</p>
	    </div>
	</div>
    </div>
    </div> <!-- close row -->
{% endfor %}

<div class="bigspacer"></div>
<div class="title subtle">Operations and Administration</div>
<div class="bigspacer"></div>
{% assign current_team = site.categories.team | where: "alum","false" %}
{% assign current_staff_op_admin = current_team | where: "category", "Operations and Administration" %}
{% assign memberindex = 0 %}
{% for member in current_staff_op_admin reversed %}
	{% assign memberindex = memberindex | plus: 1 %}
	{% assign colindex = memberindex | modulo: 4 %}
	{% if colindex == 1 %} <!-- opening of a new row -->
	<div class="row">
	{% endif %}
	<div class="col-md-3 memberbox">
		<div class="media">
		                <a class="pull-left" href="{{ member.url }}">
                                {% if member.image %}
		    	        <img width=100 class="media-object" src="{{ member.image }}" style="float: left">
                                {% else %}
		    	        <img width=100 class="media-object" src="/assets/images/team/default-member.jpeg" style="float: left">
				{% endif %}
				</a>
			 	<div class="media-body">
				<div class="smallhead media-heading member-name"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
				<p class="smallnote">{{ member.position }}</p>
				</div>
		</div>
    </div>	  
	{% if colindex == 0 %} <!-- closing a row -->
	</div><div class="bigspacer"></div>
	{% endif %}
{% endfor %}
{% if colindex != 0 %} <!-- close last open row -->
</div><div class="bigspacer"></div>
{% endif %}

<div class="bigspacer"></div>
<div class="title subtle">Staff Scientists</div>
<div class="bigspacer"></div>
{% assign current_team = site.categories.team | where: "alum","false"%}
{% assign current_staff_scientists = current_team | where: "category", "Staff Scientist"%}
{% assign memberindex = 0 %}
{% for member in current_staff_scientists reversed %}
	{% assign memberindex = memberindex | plus: 1 %}
	{% assign colindex = memberindex | modulo: 4 %}
	{% if colindex == 1 %} <!-- opening of a new row -->
	<div class="row">
	{% endif %}
	<div class="col-md-3">
		<div class="media">
		                <a class="pull-left" href="{{ member.url }}">
                                {% if member.image %}
		    	        <img width=100 class="media-object" src="{{ member.image }}" style="float: left">
                                {% else %}
		    	        <img width=100 class="media-object" src="/assets/images/team/default-member.jpeg" style="float: left">
				{% endif %}
				</a>
			 	<div class="media-body">
				<div class="smallhead media-heading member-name"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
				<p class="smallnote">{{ member.position }}</p>
				</div>
		</div>
    </div>	  
	{% if colindex == 0 %} <!-- closing a row -->
	</div><div class="bigspacer"></div>
	{% endif %}
{% endfor %}
{% if colindex != 0 %} <!-- close last open row -->
</div><div class="bigspacer"></div>
{% endif %}

<div class="bigspacer"></div>
<div class="title subtle">Staff Engineers</div>
<div class="bigspacer"></div>
{% assign current_team = site.categories.team | where: "alum","false"%}
{% assign current_staff_engineers = current_team | where: "category", "Staff Engineer"%}
{% assign memberindex = 0 %}
{% for member in current_staff_engineers reversed %}
	{% assign memberindex = memberindex | plus: 1 %}
	{% assign colindex = memberindex | modulo: 4 %}
	{% if colindex == 1 %} <!-- opening of a new row -->
	<div class="row">
	{% endif %}
	<div class="col-md-3 memberbox">
		<div class="media">
		                <a class="pull-left" href="{{ member.url }}">
                                {% if member.image %}
		    	        <img width=100 class="media-object" src="{{ member.image }}" style="float: left">
                                {% else %}
		    	        <img width=100 class="media-object" src="/assets/images/team/default-member.jpeg" style="float: left">
				{% endif %}
				</a>
			 	<div class="media-body">
				<div class="smallhead media-heading member-name"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
				<p class="smallnote">{{ member.position }}</p>
				</div>
		</div>
    </div>	  
	{% if colindex == 0 %} <!-- closing a row -->
	</div><div class="bigspacer"></div>
	{% endif %}
{% endfor %}
{% if colindex != 0 %} <!-- close last open row -->
</div><div class="bigspacer"></div>
{% endif %}

<div class="bigspacer"></div>
<div class="title subtle">Research and Computational Associates</div>
<div class="bigspacer"></div>
{% assign current_team = site.categories.team | where: "alum","false"%}
{% assign current_associates = current_team | where: "category", "Associate"%}
{% assign memberindex = 0 %}
{% for member in current_associates reversed %}
	{% assign memberindex = memberindex | plus: 1 %}
	{% assign colindex = memberindex | modulo: 4 %}
	{% if colindex == 1 %} <!-- opening of a new row -->
	<div class="row">
	{% endif %}
	<div class="col-md-3 memberbox">
		<div class="media">
		                <a class="pull-left" href="{{ member.url }}">
                                {% if member.image %}
		    	        <img width=100 class="media-object" src="{{ member.image }}" style="float: left">
                                {% else %}
		    	        <img width=100 class="media-object" src="/assets/images/team/default-member.jpeg" style="float: left">
				{% endif %}
				</a>
			 	<div class="media-body">
				<div class="smallhead media-heading member-name"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
				<p class="smallnote">{{ member.position }}</p>
				</div>
		</div>
    </div>	  
	{% if colindex == 0 %} <!-- closing a row -->
	</div><div class="bigspacer"></div>
	{% endif %}
{% endfor %}
{% if colindex != 0 %} <!-- close last open row -->
</div><div class="bigspacer"></div>
{% endif %}

<div class="bigspacer"></div>
<div class="title subtle">Postdoctoral Researchers</div>
<div class="bigspacer"></div>
{% assign current_team = site.categories.team | where: "alum","false" %}
{% assign current_postdocs = current_team | where: "category", "Postdoctoral Researcher" %}
{% assign memberindex = 0 %}
{% for member in current_postdocs reversed %}
	{% assign memberindex = memberindex | plus: 1 %}
	{% assign colindex = memberindex | modulo: 4 %}
	{% if colindex == 1 %} <!-- opening of a new row -->
	<div class="row">
	{% endif %}
	<div class="col-md-3 memberbox">
		<div class="media">
		                <a class="pull-left" href="{{ member.url }}">
                                {% if member.image %}
		    	        <img width=100 class="media-object" src="{{ member.image }}" style="float: left">
                                {% else %}
		    	        <img width=100 class="media-object" src="/assets/images/team/default-member.jpeg" style="float: left">
				{% endif %}
				</a>
			 	<div class="media-body">
				<div class="smallhead media-heading member-name"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
				<p class="smallnote">{{ member.position }}</p>
				</div>
		</div>
    </div>	  
	{% if colindex == 0 %} <!-- closing a row -->
	</div><div class="bigspacer"></div>
	{% endif %}
{% endfor %}
{% if colindex != 0 %} <!-- close last open row -->
</div><div class="bigspacer"></div>
{% endif %}

<div class="bigspacer"></div>
<div class="title subtle">Graduate Students</div>
<div class="bigspacer"></div>
{% assign current_team = site.categories.team | where: "alum","false" %}
{% assign current_students = current_team | where: "category", "Graduate Student" %}
{% assign memberindex = 0 %}
{% for member in current_students reversed %}
	{% assign memberindex = memberindex | plus: 1 %}
	{% assign colindex = memberindex | modulo: 4 %}
	{% if colindex == 1 %} <!-- opening of a new row -->
	<div class="row">
	{% endif %}
	<div class="col-md-3 memberbox">
		<div class="media">
		                <a class="pull-left" href="{{ member.url }}">
                                {% if member.image %}
		    	        <img width=100 class="media-object" src="{{ member.image }}" style="float: left">
                                {% else %}
		    	        <img width=100 class="media-object" src="/assets/images/team/default-member.jpeg" style="float: left">
				{% endif %}
				</a>
			 	<div class="media-body">
				<div class="smallhead media-heading member-name"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
				<p class="smallnote">{{ member.position }}</p>
				</div>
		</div>
    </div>	  
	{% if colindex == 0 %} <!-- closing a row -->
	</div><div class="bigspacer"></div>
	{% endif %}
{% endfor %}
{% if colindex != 0 %} <!-- close last open row -->
</div><div class="bigspacer"></div>
{% endif %}

{% assign current_team = site.categories.team | where: "alum","false" %}
{% assign current_associated_scientists = current_team | where: "category", "Associated Scientist" %}

{% if current_associated_scientists.size > 0 %}

<div class="bigspacer"></div>
<div class="title subtle">Associated Scientists</div>
<div class="bigspacer"></div>
{% assign memberindex = 0 %}
{% for member in current_associated_scientists reversed %}
	{% assign memberindex = memberindex | plus: 1 %}
	{% assign colindex = memberindex | modulo: 4 %}
	{% if colindex == 1 %} <!-- opening of a new row -->
	<div class="row">
	{% endif %}
	<div class="col-md-3 memberbox">
		<div class="media">
		                <a class="pull-left" href="{{ member.url }}">
                                {% if member.image %}
		    	        <img width=100 class="media-object" src="{{ member.image }}" style="float: left">
                                {% else %}
		    	        <img width=100 class="media-object" src="/assets/images/team/default-member.jpeg" style="float: left">
				{% endif %}
				</a>
			 	<div class="media-body">
				<div class="smallhead media-heading member-name"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
				<p class="smallnote">{{ member.position }}</p>
				</div>
		</div>
    </div>	  
	{% if colindex == 0 %} <!-- closing a row -->
	</div><div class="bigspacer"></div>
	{% endif %}
{% endfor %}
{% if colindex != 0 %} <!-- close last open row -->
</div><div class="bigspacer"></div>
{% endif %}

{% endif %}

{% assign current_team = site.categories.team | where: "alum","false" %}
{% assign current_interns = current_team | where: "category", "Intern" %}

{% if current_interns.size > 0 %}

<div class="bigspacer"></div>
<div class="title subtle">Interns</div>
<div class="bigspacer"></div>
{% assign memberindex = 0 %}
{% for member in current_interns reversed %}
	{% assign memberindex = memberindex | plus: 1 %}
	{% assign colindex = memberindex | modulo: 4 %}
	{% if colindex == 1 %} <!-- opening of a new row -->
	<div class="row">
	{% endif %}
	<div class="col-md-3 memberbox">
		<div class="media">
		                <a class="pull-left" href="{{ member.url }}">
                                {% if member.image %}
		    	        <img width=100 class="media-object" src="{{ member.image }}" style="float: left">
                                {% else %}
		    	        <img width=100 class="media-object" src="/assets/images/team/default-member.jpeg" style="float: left">
				{% endif %}
				</a>
			 	<div class="media-body">
				<div class="smallhead media-heading member-name"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
				<p class="smallnote">{{ member.position }}</p>
				</div>
		</div>
    </div>	  
	{% if colindex == 0 %} <!-- closing a row -->
	</div><div class="bigspacer"></div>
	{% endif %}
{% endfor %}
{% if colindex != 0 %} <!-- close last open row -->
</div><div class="bigspacer"></div>
{% endif %}

{% endif %}

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<img class="team-photo" src="/assets/images/group_pic_3.jpg"/>
	</div>
</div>

<div class="bigspacer"></div>
<div class="bigtitle">Alumni</div>
<div class="bigspacer"></div>

{% assign alumni = site.categories.team | where: "alum","true"%}
{% assign memberindex = 0 %}
{% for member in alumni reversed %}
	{% assign memberindex = memberindex | plus: 1 %}
	{% assign colindex = memberindex | modulo: 4 %}
	{% if colindex == 1 %} <!-- opening of a new row -->
	<div class="row">
	{% endif %}
	<div class="col-md-3 memberbox" width=160>
		<div class="media">
		                <a class="pull-left" href="{{ member.url }}">
                                </a>
		                <div class="media-body">
				<div class="smallhead media-heading member-name"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
				<p class="smallnote">{{ member.position }}</p>
				</div>
		</div>
    </div>	  
	{% if colindex == 0 %} <!-- closing a row -->
	</div><div class="bigspacer"></div>
	{% endif %}
{% endfor %}
{% if colindex != 0 %} <!-- close last open row -->
</div><div class="bigspacer"></div>
{% endif %}
