<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Bootstrap styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    
    <!-- Sticky Footer -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bs-sticky-footer.css" rel="stylesheet"/>

    <!-- Custom styles -->
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all"/>

    <!-- icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ ASSET_PATH }}/images/logo/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ ASSET_PATH }}/images/logo/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ ASSET_PATH }}/images/logo/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ ASSET_PATH }}/images/logo/manifest.json">
    <link rel="mask-icon" href="{{ ASSET_PATH }}/images/logo/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{ ASSET_PATH }}/images/logo/favicon.ico">
    <meta name="msapplication-config" content="{{ ASSET_PATH }}/images/logo/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Custom fonts and icons via Font Awesome, http://fortawesome.github.io/Font-Awesome/ -->
    <!--<script src="https://use.fontawesome.com/51d391e302.js"></script> -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <!-- Academicons: https://jpswalsh.github.io/academicons/ -->
    <link rel="stylesheet" href="/assets/css/academicons.min.css"/>

    <link rel="stylesheet" href="/assets/css/icon-list-group.css"/>

    <!-- Fonts via Google -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700' rel='stylesheet' type='text/css'/>

    <!-- Math via MathJax -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- atom & rss feed
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
    -->

  </head>

  <body>

  <!-- Static top navbar -->

  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <a class="navbar-brand" href="{{ HOME_PATH }}">
        <img class="navbar-left logo" src="{{ ASSET_PATH }}/images/logo/lab-logo.svg" type="image/svg+xml">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav"> 
          
          <!-- Don't put site title on home page -- there's already a big title there. -->
          {% assign make_title = true %}
          {% for pc in page.categories %}
            {% if pc == "home" %}
             {% assign make_title = false %}
            {% endif %}
          {% endfor %}
          {% if make_title == true %}
          <li class="nav-item">
            <a class="nav-item nav-link" href="{{ HOME_PATH }}">Home</a>
          </li>
          {% endif %}

          {% assign pages_list = (site.pages | sort: 'navorder') %}
          {% assign group = 'navigation' %}
          {% include JB/pages_list %}
          
          <li class="nav-item">
            <a class="nav-link" href="https://medium.com/nrg-excitations" target="_blank">Blog</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Docs
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if page.title == "Group Docs" %}
                <a class="dropdown-item active" href="/docs">Docs</a>
              {% else %}
                <a class="dropdown-item" href="/docs">Docs</a>
              {% endif %}
              <div class="dropdown-divider"></div>
              {% assign pages_list = (site.pages | sort: 'navorder') %}
              {% assign group = 'docs' %}
              {% assign dropdown_flag = true %}
              {% include JB/pages_list %}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Content -->
  <div class="container">
    {{ content }}
  </div>


  <!-- Static bottom navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
      <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#jb-bottom-collapse" aria-controls="jb-bottom-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="jb-bottom-collapse">
        <ul class="navbar-nav mr-auto navbar-small"> 
          <li class="nav-item"><a href={{ site.department.url }}>{{ site.department.name }}</a></li>
          <li class="nav-item"><a href={{ site.institution.url }}>{{ site.institution.name }}</a></li>
        </ul>
        
        <ul class="navbar-nav navbar-small">
          <li class="nav-item"><a href='/about.html#purpose'>About</a></li>
          <li class="nav-item"><a href='/about.html#join'>Join</a></li>
          <li class="nav-item"><a href='/about.html#contact'>Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
      </div>
  </nav>



    {% include JB/analytics %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
