
{% assign member = page %}

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
		<div class="media">
			{% if member.image %}
			<img width=250 class="pull-left" src="{{ member.image }}">
			{% else %}
			<img width=250 class="pull-left" src="/assets/images/team/default-member.jpeg">
			{% endif %}
		</div>
	</div>
	<div class="col-md-9">
		<div class="pull-left pad-right media-body titlebox">
			<div class="title media-heading">
				{{ member.title }}
			</div>
                        <div>
                        {% if member.alum == true %}
                        <div class="smallhead">
                            Lab Alumnus/Alumna
			</div>
			<div class="smallhead">
			Lab Position: {{ member.position }}
			</div>
                        {% else %}
                        </div>
			<br/>
			<div class="smallhead">
			{{ member.position }}
			</div>
			{% endif %}
		</div>
	</div>				
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">  			
		{% if member.cv %}		
		<div class="smallhead">
			CV
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-file-text-o fa-fw"></i>			
			<a class="off" href="{{ member.cv }}">{{ member.cv | split: '/' | last }}</a>
		</div>		
		<div class="bigspacer"></div>		
		{% endif %}	  		
		{% if member.twitter %}		
		<div class="smallhead">
			Twitter
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-twitter fa-fw"></i>
			<a class="off" href="https://twitter.com/{{ member.twitter }}">{{ member.twitter }}</a>
		</div>		
		<div class="bigspacer"></div>				
		{% endif %}	
		{% if member.github %}
		<div class="smallhead">
			GitHub
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-github-alt fa-fw"></i>
			<a class="off" href="https://github.com/{{ member.github }}">{{ member.github }}</a>
		</div>		
		<div class="bigspacer"></div>	
		{% endif %}		
		{% if member.scholar %}
		<div class="smallhead">
			Google Scholar
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-book fa-fw"></i>
			<a class="off" href="http://scholar.google.com/citations?user={{ member.scholar }}">{{ member.title }}</a>
		</div>		
		<div class="bigspacer"></div>	
		{% endif %}				   	
                
		{% if member.alum == false %}
                {% unless member.mask_email == true %}
		{% if member.email %}
		{% assign emailarray = member.email | split: '@' %}
		<div class="smallhead">
			Email
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-inbox fa-fw"></i>
			{{ emailarray.first }}<span style="display:none">obfuscate</span>@{{ emailarray.last }}
		</div>		
		<div class="bigspacer"></div>			
		{% endif %}
		{% endunless %}
		{% endif %}
		
		{% if member.linkedin %}
		<div class="smallhead">
			LinkedIn
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-linkedin fa-fw"></i>
			<a class="off" href="https://linkedin.com/in/{{ member.linkedin }}">{{ member.linkedin }}</a>
		</div>		
		<div class="bigspacer"></div>			
		{% endif %}						
	</div>
	<div class="col-md-8">	
		<div class="post">
			{{ content }}
		</div>

		

                {% assign papersq = false %}
                {% for paper in site.categories.papers %}
		  {% assign  member_citation_names = member.citation_names | split: ', ' %}
                  {% for citation_name in member_citation_names %}
                      {% if paper.authors contains citation_name %}
		        {% assign papersq = true %}
                      {% endif %}
                  {% endfor %}
                {% endfor %}

		{% if papersq %}
		
                  {% assign team_citation_names = "" | split: ", " %}
                  {% for team_member in site.categories.team %}
                    {% if team_member.citation_names %}
                      {% assign team_member_citation_names = team_member.citation_names | split: ", " %}
                      {% assign team_citation_names = team_citation_names | concat: team_member_citation_names %}
                    {% endif %}
                  {% endfor %}
                  {% assign team_citation_names = team_citation_names | join: ", " %}

		  <div class="bigspacer"></div>
		  <div class="head">Selected Lab Papers</div>
		  <div class="spacer"></div>
		  <ul>
		    {% for paper in site.categories.papers %}
		      {% for citation_name in member_citation_names %}
		        {% if paper.authors contains citation_name %}
                          <li>
 
 		            {% assign first_authors = paper.first_authors | split: ", " %}
		            {% assign senior_authors = paper.senior_authors | split: ", " %}
		            {% assign shortened_authors = "" | split: ", " %}

		            {% for first_author in first_authors %}
		              {% if team_citation_names contains first_author %}	      
		                {% assign revised_first_author = "<b>" | append: first_author | append: "</b>" %}
		                {% assign shortened_authors = shortened_authors | push: revised_first_author %}
		              {% else %}
		                {% assign shortened_authors = shortened_authors | push: first_author %}
		              {% endif %}
		            {% endfor %}	    
		          
			    {% assign shortened_authors = shortened_authors | push: "[...]" %}
		            {% for senior_author in senior_authors %}
		              {% if team_citation_names contains senior_author %}	      
		                {% assign revised_senior_author = "<b>" | append: senior_author | append: "</b>" %}
		                {% assign shortened_authors = shortened_authors | push: revised_senior_author %}
		              {% else %}
	 	                {% assign shortened_authors = shortened_authors | push: senior_author %}
		              {% endif %}
		            {% endfor %}	    
			    
		          {% assign  shortened_authors  = shortened_authors | join: ", " %}

		          {% if paper.embargo %}
		            <p>{{ paper.title }}</p>
		          {% else %}
                            <div class="smallhead media-heading">
		  	      <div class="text-primary">
				<a href="{{ paper.url }}" class="off"><em>{{ paper.title }}</em></a>
			      </div>
			    </div>
			    <p class="note">
			      {{ shortened_authors }}<br>
			      <span class="journal">
				{{ paper.journal }}
			      </span>
			      {% if paper.volume %}
			      {{ paper.volume }}
			      {% endif %}
			      {% if paper.issue %}
			      ({{ paper.issue }})
			      {% endif %}
			      {% if paper.pages %}
			      {{ paper.pages }} 
			      {% endif %}
			      ({{ paper.year }}).
			    </p>
    		          {% endif %}
		        </li>
                        {% break %}
                      {% endif %}
 		    {% endfor %}
                   {% endfor %}
                   </ul>
		  {% endif %}
		  
		{% for post in site.categories.blog %}
			{% if member.handle == post.author_handle %}
				{% assign postsq = true %}
			{% endif %}
		{% endfor %}
		
		{% if postsq == true %}
			<div class="bigspacer"></div>
			<div class="head">Posts</div>
			<div class="spacer"></div>
			{% for post in site.categories.blog %}
				{% if member.handle == post.author_handle %}
					<p><a href="{{ post.url }}" class="off">{{ post.title }}</a>
				{% endif %}
			{% endfor %}
		{% endif %}	
		
	</div>			
	<div class="col-md-1"></div>
</div>	
