
{% assign member = page %}

{% if member.image %}
	{% assign image = member.image %}
{% else %}
	{% assign image = "/assets/images/placeholder-user.png" %}
{% endif %}

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
		<div class="media">
			<img class="pull-left pad-right big-member-photo" src="{{ image }}">
		</div>
		<div class="bigspacer"></div>

		{% if member.email %}
			{% assign emailarray = member.email | split: '@' %}
			<div class="smallhead">
				Email
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-inbox fa-fw"></i>
				{{ emailarray.first }}<span style="display:none">obfuscate</span>@{{ emailarray.last }}
			</div>
			<div class="bigspacer"></div>
		{% endif %}

		{% if member.site %}
			<div class="smallhead">
				Personal Site
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-user fa-fw"></i>
				<a class="off" href="{{ member.site }}">{{ member.site | remove: 'http://' | remove: 'https://' }}</a>
			</div>
			<div class="bigspacer"></div>
		{% endif %}

		{% if member.cv %}
			<div class="smallhead">
				CV
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="{{ member.cv }}">{{ member.cv | split: '/' | last }}</a>
			</div>
			<div class="bigspacer"></div>
		{% endif %}

		{% if member.github %}
			<div class="smallhead">
				GitHub
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-github-alt fa-fw"></i>
				<a class="off" href="https://github.com/{{ member.github }}">{{ member.github }}</a>
			</div>
			<div class="bigspacer"></div>
		{% endif %}

		{% if member.twitter %}
			<div class="smallhead">
				Twitter
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-twitter fa-fw"></i>
				<a class="off" href="https://twitter.com/{{ member.twitter }}">{{ member.twitter }}</a>
			</div>
			<div class="bigspacer"></div>
		{% endif %}

		{% if member.scholar %}
			<div class="smallhead">
				Google Scholar
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="ai ai-google-scholar"></i>
				<a class="off" href="http://scholar.google.com/citations?user={{ member.scholar }}">{{ member.title }}</a>
			</div>
			<div class="bigspacer"></div>
		{% endif %}

		{% if member.osf %}
			<div class="smallhead">
				Open Science Framework
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="ai ai-osf"></i>
				<a class="off" href="http://osf.io/{{ member.osf }}">{{ member.title }}</a>
			</div>
			<div class="bigspacer"></div>
		{% endif %}

		{% if member.researchgate %}
			<div class="smallhead">
				ResearchGate
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="ai ai-researchgate"></i>
				<a class="off" href="https://www.researchgate.net/profile/{{ member.researchgate }}">{{ member.researchgate }}</a>
			</div>
			<div class="bigspacer"></div>
		{% endif %}

		{% if member.orcid %}
			<div class="smallhead">
				ORCID
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="ai ai-orcid"></i>
				<a class="off" href="http://orcid.org/{{ member.orcid }}">{{ member.orcid }}</a>
			</div>
			<div class="bigspacer"></div>
		{% endif %}

		{% if member.publons %}
			<div class="smallhead">
				Publons
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="ai ai-publons"></i>
				<a class="off" href="https://publons.com/author/{{ member.publons }}">{{ member.title }}</a>
			</div>
			<div class="bigspacer"></div>
		{% endif %}
  </div>
	<div class="col-md-9">
		<div class="pull-left pad-right media-body titlebox">
			<div class="title media-heading">
				{{ member.title }}
			</div>
			<div class="smallhead">
				{{ member.position }}
			</div>
			<div class="smallhead">
				{{ member.department }}
			</div>
			<div class="bigspacer"></div>
			<div class="bigspacer"></div>
			<div class="post">
				{{ content }}
			</div>

			<!-- Show projects, then papers, then presentations, then posters -->
			{% for project in site.categories.projects %}
				{% if project.contributors contains member.handle %}
					{% assign projectsq = true %}
				{% endif %}
			{% endfor %}

			{% assign lastname = member.title | split: ' ' | last %}
			{% for paper in site.categories.papers %}
				{% if paper.authors contains lastname %}
					{% assign papersq = true %}
				{% endif %}
			{% endfor %}

			{% for pres in site.categories.presentations %}
				{% assign split_authors = pres.authors | split: ", " %}
				{% if split_authors[0] contains lastname %}
					{% assign presentationsq = true %}
				{% endif %}
			{% endfor %}

			{% for poster in site.categories.posters %}
				{% assign split_authors = poster.authors | split: ", " %}
				{% if split_authors[0] contains lastname %}
					{% assign postersq = true %}
				{% endif %}
			{% endfor %}

			<!-- Add section divider -->
			{% if projectsq or papersq or presentationsq or postersq %}
			  <hr/>
			{% endif %}

			<!-- Projects -->
			{% if projectsq == true %}
				<div class="bigspacer"></div>
				<div class="head">Research</div>
				<div class="spacer"></div>
				{% for project in site.categories.projects %}
					{% if project.contributors contains member.handle %}
					  <div class="pad-left note"><p>
						<a href="{{ project.url }}" class="off">{{ project.title }}</a>
					  </p></div>
					{% endif %}
				{% endfor %}
			{% endif %}

			<!-- Papers -->
			{% if papersq == true %}
				<div class="bigspacer"></div>
				<div class="head">Papers</div>
				<div class="spacer"></div>
				{% for paper in site.categories.papers %}
					{% if paper.authors contains lastname %}
					  <div class="pad-left note"><p>
							{% if paper.embargo %}
							  {{ paper.title }}
							{% else %}
							  {% if paper.tags contains "preprint" %}
		              <a href="{{ paper.url }}" class="off">[PREPRINT] {{ paper.title }}</a>
		            {% elsif paper.tags contains "chapter" %}
		              <a href="{{ paper.url }}" class="off">[CHAPTER] {{ paper.title }}</a>
		            {% else %}
		              <a href="{{ paper.url }}" class="off">{{ paper.title }}</a>
		            {% endif %}
							{% endif %}
					  </p></div>
					{% endif %}
				{% endfor %}
			{% endif %}

			<!-- Only show presentations on first author's page -->
			{% if presentationsq == true %}
				<div class="bigspacer"></div>
				<div class="head">Presentations</div>
				<div class="spacer"></div>
				{% for pres in site.categories.presentations %}
					{% assign split_authors = pres.authors | split: ", " %}
					{% if split_authors[0] contains lastname %}
					  <div class="pad-left note"><p>
						<a href="{{ pres.url }}" class="off">{{ pres.title }}</a>
					  </p></div>
					{% endif %}
				{% endfor %}
			{% endif %}

			<!-- Only show posters on first author's page -->
			{% if postersq == true %}
				<div class="bigspacer"></div>
				<div class="head">Posters</div>
				<div class="spacer"></div>
				{% for poster in site.categories.posters %}
					{% assign split_authors = poster.authors | split: ", " %}
					{% if split_authors[0] contains lastname %}
					  <div class="pad-left note"><p>
						<a href="{{ poster.url }}" class="off">{{ poster.title }}</a>
						</p></div>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>

<div class="bigspacer"></div>
