<!-- 
Branched from Trevor Bedford's source, https://github.com/blab/blotter/blob/master/_layouts/paper.html
with gratitude.
-->

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
		<div class="media">
			{% if page.image %}
			<img class="pull-left pad-right media-object paper-image" src="{{ page.image }}">
			{% endif %}
		</div>
	</div>

	<div class="col-md-9">
		<div class="media-body titlebox">
			<div class="title media-heading">
				{{ page.title }}
			</div>
			<p>
			<div class="smallhead">
				{{ page.authors }}, 
				<span class="journal">
				{{ page.journal }}
				</span>
				{% if page.volume %}
				 {{ page.volume }}
				{% endif %}
				{% if page.issue %}
				({{ page.issue }})
				{% endif %}
				{% if page.pages %}
				:{{ page.pages }} 
				{% endif %}
				({{ page.year }}).
			</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
		<div class="bigspacer"></div>
		<div class="glyphbox note"> <!-- DAD: what is this class? -->
			{% if page.pdf or page.pdflink or page.fulltext %}
			<div class="smallhead">
				Full text
			</div>	
			<div class="pad-left note">
				<div class="smallspacer"></div>
				{% if page.pdflink %}
					<i class="fa fa-file-pdf-o fa-fw"></i>
					<a class="off" href="{{ page.pdflink }}">Journal PDF</a>
					<br/>
				{% endif %}
				{% if page.pdf %}
					<i class="fa fa-file-pdf-o fa-fw"></i>
					<a class="off" href="{{ page.pdf }}">PDF</a>
					<br/>
				{% endif %}
				{% if page.fulltext %}
				<i class="fa fa-external-link fa-fw"></i>
				<a class="off" href="{{ page.fulltext }}">Journal HTML</a>
				{% endif %}
			</div>
			<div class="bigspacer"></div>			
			{% endif %}

			{% if page.supplement %}
			<div class="smallhead">
				Supplement
			</div>	
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-paperclip fa-fw"></i>
				<a class="off" href="{{ page.supplement }}">{{ page.supplement | split: '/' | last }}</a>
			</div>
			<div class="bigspacer"></div>			
			{% endif %}	
			
			{% if page.doi %}
			<div class="smallhead">
				DOI
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-external-link fa-fw"></i>
				<a class="off" href="http://dx.doi.org/{{ page.doi }}">{{ page.doi }}</a>
			</div>
			<div class="bigspacer"></div>			
			{% endif %}
			
			{% if page.github %}
			<div class="smallhead">
				Source code
			</div>	
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-cog fa-fw"></i>
				<a class="off" href="{{ page.github }}">{{ page.github | remove: 'http://' | remove: 'https://' }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.dryad_doi %}
			<div class="smallhead">
				Data
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-database fa-fw"></i>
				<a class="off" href="http://dx.doi.org/{{ page.dryad_doi }}">Dryad</a>
			</div>
			<div class="bigspacer"></div>			
			{% endif %}
			<div class="smallhead">
				Share
			</div>
		    <!-- Paste the 3 next lines where you want the sharing button(s) to appear -->
		    <div class="post-sharing">
		     {% include JB/sharing %}
		    </div>

		</div>
	</div>
	<div class="col-md-8">	
		<div class="post">
			{{ content }}
		</div>	
	</div>

	<div class="col-md-1"></div>
</div>

<div class="bigspacer"></div>

