<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="head">
      <a class="off" href="/blog/">Recent news</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="head">
      <a class="off" href="/blog/">Recent posts</a>
    </div>
    <div class="bigspacer"></div>
    <div class="feedbox pad-left">
      {% for post in site.categories.blog limit:8 %}
      
        {% for member in site.categories.team %}
          {% if member.title == post.author %}
            {% assign author = member %}
          {% endif %}
        {% endfor %}    
        
        <div class="note">
          <i class="fa fa-comment-o fa-fw"></i>
          <a class="off" href="{{ post.url }}">
          {{ post.title }}
          </a>
        </div>
        <div class="smallspacer"></div>
        <div class="smallnote">
          Posted
          {{ post.date | date_to_string }}
          {% if author %}
          by <a class="off" href="{{ author.url }}">{{ author.handle }}</a>
          {% endif %}           
        </div>
        <div class="spacer"></div>  
        <div class="spacer"></div>        
      {% endfor %}
    </div>
    <div class="bigspacer"></div>   
  </div>
</div>

<div class="row post-full">
  <div class="col-xs-12">
    <div class="date">
      <span>{{ page.date | date_to_long_string }}</span>
    </div>
    <div class="content">
      {{ content }}
    </div>

  {% unless page.categories == empty %}
    <ul class="tag_box inline">
      <li><i class="glyphicon glyphicon-open"></i></li>
      {% assign categories_list = page.categories %}
      {% include JB/categories_list %}
    </ul>
  {% endunless %}  

  {% unless page.tags == empty %}
    <ul class="tag_box inline">
      <li><i class="glyphicon glyphicon-tags"></i></li>
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
  {% endunless %}  
  
  {% comment %}
    <hr>
    <ul class="pagination">
    {% if page.previous %}
      <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&laquo; Previous</a></li>
    {% else %}
      <li class="prev disabled"><a>&larr; Previous</a></li>
    {% endif %}
      <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
    {% if page.next %}
      <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &raquo;</a></li>
    {% else %}
      <li class="next disabled"><a>Next &rarr;</a>
    {% endif %}
    </ul>
  {% endcomment %}
    <hr>
    {% include JB/comments %}
  </div>
</div>
