---
layout: default
title: "Portals"
description: "Data Portals"
group: navigation
navorder: 5
---
{% include JB/setup %}

<div class="hugespacer"></div>
<div class="bigtitle">Data Portals</div>
<div class="bigspacer"></div>

{% assign portalindex = 0 %}
{% for portal in site.categories.portals %}
  {% assign memberindex = memberindex | plus: 1 %}
  {% assign colindex = memberindex | modulo: 3 %}
  {% if colindex == 1 %}
  <div class="row">
  {% endif %}
 
    <div class="col-md-4 projectbox">
      <div class="media">
	<div class="portal">
          <a href="{{ portal.web_url }}">
            <img width=300 class="media-object" src="{{ portal.image }}">
          </a>
	</div>
        <div class="bigspacer"></div>
        <div class="note">{{ portal.content }}</div>
        <div class="smallnote"> First Released: {{ portal.date | date_to_string }}</div>
      </div>
    </div>
  {% if colindex == 0 %}
  </div><div class="bigsparer"></div>
  {% endif %}
{% endfor %}

<div class="bigspacer"></div>
