---
layout: default
title: "Portals"
description: "Data Portals"
group: navigation
navorder: 6
---
{% include JB/setup %}


<div class="pager">
  
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
		<a class="prev" href="/{{ page.category }}/">
			<i class="fa fa-chevron-left fa-lg"></i>
		</a>
		{% else %}
		<a class="prev" href="/{{ page.category }}/page{{ paginator.previous_page }}">
			<i class="fa fa-chevron-left fa-lg"></i>
		</a>
		{% endif %}  		
	{% endif %}  
  
	{% if paginator.next_page %}  
	<a class="next" href="/{{ page.category }}/page{{ paginator.next_page }}">
		<i class="fa fa-chevron-right fa-lg"></i>
	</a>	
	{% endif %}  	
    
</div>

<div class="head"><big>Data Portals</big></div>
<div class="bigspacer"></div>

{% for portal in site.categories.portals %}

	<div class="bigspacer"></div>
	<div class="row">
		<div class="col-md-3">
			<div class="head">
				<a href="{{ portal.web_url }}">{{ portal.title }}</a>
			</div>
			<div class="smallnote">
			  First Released: {{ portal.date | date_to_string }}
			</div>
		</div>
		<div class="col-md-8">		
			<div style="height:5px;"></div>			
			<div class="post">
				{{ portal.content }}
			</div>
		</div>			
	</div>		

{% endfor %}

<div class="bigspacer"></div>
