---
layout: default
title: "Talks"
description: "Presentations by members of the lab"
group: navigation
navorder: 4
---
{% include JB/setup %}

<div class="bigspacer"></div>
<div class="bigtitle text-center">Talks</div>
<div class="bigspacer"></div>
<hr/>

{% assign years = "" | split: "" %}
{% for product in site.categories.presentations %}
  {% assign years = years | push: product.year %}
{% endfor %}
{% assign years = years | uniq %}

{% for year in years %}
	<div class="title text-center">{{ year }}</div>
	<div class="bigspacer"></div>
	{% assign year_products = "" | split: "" %}
	{% for product in site.categories.presentations %}
		{% if product.year == year %}
		  {% assign year_products = year_products | push: product %}
		{% endif %}
	{% endfor %}

	<table align="center"; width=1250px>
		{% tablerow product in year_products cols:2 %}
			{% if product.image %}
				{% assign image = product.image %}
			{% else %}
				{% assign image = "/assets/images/placeholder.png" %}
			{% endif %}
      
			<div class="col-md-2.5 paperbox" style="min-width: 575px">
				<div class="media" style="width:525px">
	        <div class="media">
	            <a class="pull-left" href="{{ product.url }}">
	            <img width=150 height=113 class="media-object" src="{{ image }}">
	            </a>
	            <div class="media-body">
	                <div class="smallhead media-heading">
	                    <a href="{{ product.url }}" class="off">{{ product.title }}</a>
	                </div>
	                <p class="note">{{ product.shortref }}</p>
	            </div>
	        </div>
				</div>
			</div>
			<div class="smallspacer"></div>
		{% endtablerow %}
	</table>

	<div class="bigspacer"></div>

	{% if year != years[-1] %}
		<hr/>
	{% endif %}
{% endfor %}
