---
layout: default
title: "Papers"
description: "Publications from members of the lab"
group: navigation
navorder: 3
---
{% include JB/setup %}
<div class="bigspacer"></div>

<table align="center"; width=1250px>
	{% tablerow paper in site.categories.papers cols:2 %}
		<div class="col-md-2.5 paperbox">
			<div class="media">
        {% if paper.embargo %}
            <div class="media">
                <img width=100 class="media-object pull-right" src="{{ paper.image }}"/>
                <div class="media-body">
                    <div class="smallhead media-heading">
                        {{ paper.title }}
                    </div>
                    <p class="note">{{ paper.shortref }}</p>
                </div>
            </div>
        {% else %}
            <div class="media">
                <a class="pull-left" href="{{ paper.url }}">
                <img width=100 class="media-object" src="{{ paper.image }}">
                </a>
                <div class="media-body">
                    <div class="smallhead media-heading">
                        {% if paper.tags contains "preprint" %}
                            <a href="{{ paper.url }}" class="off">[PREPRINT] {{ paper.title }}</a>
                        {% elsif paper.tags contains "chapter" %}
                            <a href="{{ paper.url }}" class="off">[CHAPTER] {{ paper.title }}</a>
                        {% else %}
                            <a href="{{ paper.url }}" class="off">{{ paper.title }}</a>
                        {% endif %}
                    </div>
                    <p class="note">{{ paper.shortref }}</p>
                </div>
            </div>
        {% endif %}
			</div>
		</div>
	{% endtablerow %}
</table>
<div class="bigspacer"></div>
