---
layout: default
title: "Papers"
description: "Publications from members of the lab"
group: navigation
navorder: 3
---
{% include JB/setup %}

<div class="bigspacer"></div>
<div class="bigtitle text-center">Publications</div>
<div class="smallspacer"></div>
<hr/>

{% assign years = "" | split: "" %}
{% for product in site.categories.papers %}
  {% assign years = years | push: product.year %}
{% endfor %}
{% assign years = years | uniq %}

{% for year in years %}
	<div class="title text-center">{{ year }}</div>
	<div class="bigspacer"></div>
	{% assign year_products = "" | split: "" %}
	{% for product in site.categories.papers %}
		{% if product.year == year %}
		  {% assign year_products = year_products | push: product %}
		{% endif %}
	{% endfor %}

	<table align="center"; width=1250px>
		{% tablerow product in year_products cols:2 %}
			{% if product.image %}
			  {% assign image = product.image %}
			{% else %}
			  {% assign image = "/assets/images/placeholder.png" %}
			{% endif %}

			<div class="col-md-2.5 paperbox">
				<div class="media" style="width:525px; height:140px">
	        {% if product.embargo %}
	            <div class="media">
	                <img width=100 class="media-object pull-right" src="{{ image }}" style="border:1px solid #021a40;">
	                <div class="media-body">
	                    <div class="smallhead media-heading">
	                        {{ product.title }}
	                    </div>
	                    <p class="note">{{ product.shortref }}</p>
	                </div>
	            </div>
	        {% else %}
	            <div class="media">
	                <a class="pull-left" href="{{ product.url }}">
	                <img width=100 class="media-object" src="{{ image }}" style="border:1px solid #021a40;">
	                </a>
	                <div class="media-body">
	                    <div class="smallhead media-heading">
	                        {% if product.tags contains "preprint" %}
	                            <a href="{{ product.url }}" class="off">[PREPRINT] {{ product.title }}</a>
	                        {% elsif product.tags contains "chapter" %}
	                            <a href="{{ product.url }}" class="off">[CHAPTER] {{ product.title }}</a>
                          {% elsif product.tags contains "correspondence" %}
                              <a href="{{ product.url }}" class="off">[CORRESPONDENCE] {{ product.title }}</a>
	                        {% else %}
	                            <a href="{{ product.url }}" class="off">{{ product.title }}</a>
	                        {% endif %}
	                    </div>
	                    <p class="note">{{ product.shortref }}</p>
	                </div>
	            </div>
	        {% endif %}
				</div>
			</div>
			<div class="smallspacer"></div>
		{% endtablerow %}
	</table>

	<div class="bigspacer"></div>

	{% if year != years[-1] %}
		<hr/>
	{% endif %}
{% endfor %}
