---
---

$font-size-base: 16px;
$font-stack:    Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-color: #000000;
$subtle-color: #95a5a6;
$font-weight-base: 300;
$heavy-font-weight: 700;

$carousel-height: 350px;

body {
	font-size: $font-size-base;
	font: $font-stack;
	font-family: $font-stack;
	font-weight: $font-weight-base;
	color: $primary-color;
}

body > .container {
	padding-top: 50px; /* to prevent navbar overlap */
	font-family: $font-stack;
	color: $primary-color;
	font-weight: $font-weight-base;
	padding-bottom: 50px; /* to prevent navbar overlap */
}

h1, .h1 { font-size: floor($font-size-base * 1.75); } /* ~36px */
h2, .h2 { font-size: floor($font-size-base * 1.5); } /* ~30px */
h3, .h3 { font-size: ceil($font-size-base * 1.30); }  /* ~24px */
h4, .h4 { font-size: ceil($font-size-base * 1.1); }  /* ~18px */
h5, .h5 { font-size:  $font-size-base; }
h6, .h6 { font-size: ceil($font-size-base * 0.85); }  /* ~12px */

.container {
  padding-left: 25px;
  padding-right: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-stack;
	font-weight: $heavy-font-weight;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
}

.text-center {
     text-align: center;
}


// other

p {
	font-weight: $font-weight-base;
}

.hugespacer {
	height: 50px;
}

.bigspacer {
	height: 20px;
}

.spacer {
	height: 10px;
}

.smallspacer {
	height: 5px;
}

a.off { 
	color: inherit; 
	border-bottom: none;
}

/*a {
	border-bottom: thin dotted;
}*/

.team-photo {
	margin: auto;
	max-width:100%;
	max-height:100%;
	vertical-align: middle;
}

.resize_fit_center {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.big-member-photo {
	// width: 300px;
	max-width: 300px;
	// height: 400px;
}

.member-photo {
	height: 20vw;
	min-height: 100px;
	max-height: 225px;
}

.member-name {
	font-size: ceil($font-size-base*1.2);
}

@media all and (max-width: 800) {
	.member-name {
		font-size: $font-size-base;
	}
}

.construction {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	color: #880000;
	font-size: $font-size-base*2;
}

// emphases

term {
	font-style: italic;
}

strong {
	font-style: bold;
}

// logo

.logo {
	width: 50px;
	height: 50px;
	padding: 5px;
}

.biglogo {
	width: 180px;
	height: 180px;
	padding: 5px;
}

.logobox {
	height: 180px;
	line-height: 65px;
	font-weight: $heavy-font-weight;
	display: table-cell; 
	vertical-align: middle;
	text-align: center;
	text-shadow: 1.5px 1.5px #ffffff;
}

// navbar

.navbar-brand { 
	font-size: 30px; 
	font-weight: $font-weight-base;
}

.navbar-nav { 
	font-size: 30px; 
	font-weight: $font-weight-base;
	a {
		color: black;
	}
}

.dropdown-menu {
	font-size: 25px;
	font-weight: $font-weight-base;
}

.dropdown {
	font-weight: $font-weight-base;
}

.navbar-small {
	font-size: 15px;
	font-weight: $font-weight-base;
}

// projects pages

.project-image {
	width: 600px;
	background-color: #FFFFCC;
}

.paper-image {
	width: 200px;
}

// carousel

.carousel-fade {
  opacity: 1;
}
.carousel-fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel-fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel-fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index:2;
}

.carousel-indicators {
  bottom:0px;
}

.carousel-overlay { 
	position:absolute;
	z-index:12;
	top:50%;
	left:0;
	width:100%;
	text-align:center;
}


// headings

.logotitle {
	font-size: 30px;
	font-size: 7vw;
	line-height: 30px;
	line-height: 4vw;
	font-weight: 100;
}

@media all and (min-width: 1024px) {
	.logotitle {
		font-size: 80px;
		line-height: 80px;
	}
}

.title {
	font-size: 45px; 
	line-height: 50px;
	font-weight: 100;
}

.bigtitle {
	font-size: 60px; 
	line-height: 65px;
	font-weight: 100;
}

@media all and (max-width: 500px) {
	.bigtitle {
		font-size: 40px;
		line-height: 40px;
	}
	.title {
		font-size: 30px;
		line-height: 30px;
	}
}

.bighead {
	font-size: ceil($font-size-base*2.5);
	font-weight: $font-weight-base;
	line-height:36px;
}

.head {
	font-size: $font-size-base*2;
	font-weight: $font-weight-base;
	line-height:30px;
}

.smallhead {
	font-size: 19px;
	font-weight: $font-weight-base;
	line-height: 23px;
}

.subtle {
	color: $subtle-color;
}

.note-title {
	font-weight: 600;
	a {
		color: black;
		border-bottom: none;
	}

	h1 {

	}	
}
.note {
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	line-height: ceil($font-size-base*1.2);

	a {
		color: black;
		border-bottom: thin dotted;
		/*&:hover {
			border-bottom: thin solid;	
		}*/
	}

	h1 {

	}
}

.smallnote {
	font-size: floor($font-size-base*0.9);
	font-weight: $font-weight-base;
	line-height: $font-size-base;
}

.journal-title {
	
}

.journal {
	font-style: italic;
}

.shortref {
	font-style: italic;
}

/* tag_box */
.tag_box {
  list-style:none;
  margin:0;
  overflow:hidden;
  padding-left:10px;
}
.tag_box li {
  line-height:28px;
}
.tag_box li i {
  /*opacity:0.9;*/
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  /*padding: 3px 6px;*/
  /*margin: 2px;*/
  /*background: #eee;*/
  /*color:#555;*/
  /*border-radius: 3px;*/
  text-decoration:none;
  /*border:1px dashed #ccc;*/
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}