---
---

$font-stack:    'Open Sans', sans-serif;
$font-size-base: 12px;
$primary-color: #000000;

body {
	font-family: $font-stack;
	color: $primary-color;
}

// body {
//   font: 100% $font-stack;
//  color: $primary-color;
// }


h1, .h1 { font-size: floor($font-size-base * 2.60); } /* ~36px */
h2, .h2 { font-size: floor($font-size-base * 2.15); } /* ~30px */
h3, .h3 { font-size: ceil($font-size-base * 1.70); }  /* ~24px */
h4, .h4 { font-size: ceil($font-size-base * 1.25); }  /* ~18px */
h5, .h5 { font-size:  $font-size-base; }
h6, .h6 { font-size: ceil($font-size-base * 0.85); }  /* ~12px */

.container {
  padding-left: 25px;
  padding-right: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-stack;
	font-weight: 300;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.text-center {
     text-align: center;
}


// other

body {
	font-weight: 300;
	margin-bottom: 60px;
}

p {
	font-weight: 300;
}

.hugespacer {
	height: 50px;
}

.bigspacer {
	height: 20px;
}

.spacer {
	height: 10px;
}

.smallspacer {
	height: 5px;
}

a.off { 
	color: inherit; 
}


// emphases

term {
	font-style: italic;
}

strong {
	font-style: bold;
}

// logo

.logo {
	width: 50px;
	height: 50px;
	padding: 5px;
}

.biglogo {
	width: 180px;
	height: 180px;
	padding: 5px;
}

.logobox {
	height: 180px;
	display: table-cell; 
	vertical-align: middle;
}

// navbar
.navbar-brand { 
	font-size: 30px; 
	font-weight: 100;
}
.navbar-footer { 
	font-size: 20px; 
	font-weight: 100;
	a {
		color: black;
	}
}
.navbar-nav { 
	font-size: 30px; 
	font-weight: 100;
	a {
		color: black;
	}
}
.navbar-text {
	font-size: 15px;
	font-weight: 300;	
}

// headings

.bigtitle {
	font-size: 60px; 
	line-height: 65px;	
	font-weight: 100;
}

.title {
	font-size: 45px; 
	line-height: 50px;	
	font-weight: 100;
}

.bighead {
	font-size: 32px;
	font-weight: 300;
	line-height:36px;
}

.head {
	font-size: 26px;
	font-weight: 300;
	line-height:30px;
}

.smallhead {
	font-size: 19px;
	font-weight: 300;
	line-height: 23px;
}

.note {
	font-size: 15px;
	font-weight: 300;
	line-height: 18px;

	a {
		color: black;
	}

	h1 {

	}
}

.smallnote {
	font-size: 13px;
	font-weight: 300;
	line-height: 16px;
}

journal {
	font-style: italic;
}

.shortref {
	font-style: italic;
}