---
---

$font-stack:    'Open Sans', sans-serif;
$font-size-base: 12px;
$primary-color: #000000;

body {
	padding-top: 50px; /* to prevent navbar overlap */
	font-family: $font-stack;
	color: $primary-color;
	font-weight: 300;
	margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}


h1, .h1 { font-size: floor($font-size-base * 2.60); } /* ~36px */
h2, .h2 { font-size: floor($font-size-base * 2.15); } /* ~30px */
h3, .h3 { font-size: ceil($font-size-base * 1.70); }  /* ~24px */
h4, .h4 { font-size: ceil($font-size-base * 1.25); }  /* ~18px */
h5, .h5 { font-size:  $font-size-base; }
h6, .h6 { font-size: ceil($font-size-base * 0.85); }  /* ~12px */

.container {
  padding-left: 25px;
  padding-right: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-stack;
	font-weight: 300;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.text-center {
     text-align: center;
}


// other

p {
	font-weight: 300;
}

.hugespacer {
	height: 50px;
}

.bigspacer {
	height: 20px;
}

.spacer {
	height: 10px;
}

.smallspacer {
	height: 5px;
}

a.off { 
	color: inherit; 
}


// emphases

term {
	font-style: italic;
}

strong {
	font-style: bold;
}

// logo

.logo {
	width: 50px;
	height: 50px;
	padding: 5px;
}

.biglogo {
	width: 180px;
	height: 180px;
	padding: 5px;
}

.logobox {
	height: 180px;
	display: table-cell; 
	vertical-align: middle;
}

// navbar
.navbar-brand { 
	font-size: 30px; 
	font-weight: 100;
}
.navbar-footer { 
	font-size: 20px; 
	font-weight: 100;
	a {
		color: black;
	}
}
.navbar-nav { 
	font-size: 30px; 
	font-weight: 100;
	a {
		color: black;
	}
}
.navbar-small {
	font-size: 15px;
	font-weight: 300;	
}

.navbar-fixed-bottom {
	font-size: 20px;
	font-weight: 200;
	a {
		color: black;
	}
}

// carousel
/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/*

.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index:2;
}
*/

/*
.reset-filter() {
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
*/

.carousel-control {
  &.left, &.right {
    background-image: none !important;
    //@include reset-filter();
  }
}


.overlay { 
	color: black;
  position:absolute;
  z-index:12;
  top:50%;
  left:0;
  width:100%;
  text-align:center;
}

// headings

.bigtitle {
	font-size: 60px; 
	line-height: 65px;	
	font-weight: 100;
}

.title {
	font-size: 45px; 
	line-height: 50px;	
	font-weight: 100;
}

.bighead {
	font-size: 32px;
	font-weight: 300;
	line-height:36px;
}

.head {
	font-size: 26px;
	font-weight: 300;
	line-height:30px;
}

.smallhead {
	font-size: 19px;
	font-weight: 300;
	line-height: 23px;
}

.note {
	font-size: 15px;
	font-weight: 300;
	line-height: 18px;

	a {
		color: black;
	}

	h1 {

	}
}

.smallnote {
	font-size: 13px;
	font-weight: 300;
	line-height: 16px;
}

journal {
	font-style: italic;
}

.shortref {
	font-style: italic;
}