---
layout: default
title: "Tools"
description: ""
group: subnavigation
navorder: 6
---
{% include JB/setup %}

<div class="pager">

	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
		<a class="prev" href="/{{ page.category }}/">
			<i class="fa fa-chevron-left fa-lg"></i>
		</a>
		{% else %}
		<a class="prev" href="/{{ page.category }}/page{{ paginator.previous_page }}">
			<i class="fa fa-chevron-left fa-lg"></i>
		</a>
		{% endif %}
	{% endif %}

	{% if paginator.next_page %}
	<a class="next" href="/{{ page.category }}/page{{ paginator.next_page }}">
		<i class="fa fa-chevron-right fa-lg"></i>
	</a>
	{% endif %}

</div>

Here you'll find a listing of open-source computational tools developed by the Getz Lab.

<hr>

{% for tool in site.categories.tool %}

    {% assign author = 0 %}
    {% for member in site.categories.team %}
			{% if member.title == tool.author %}
				{% assign author = member %}
			{% endif %}
    {% endfor %}

    <div class="bigspacer"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="head">
                {{ tool.title }}
	    </div>
	    <div class="smallnote">
	        {%comment%}{{ tool.date | date_to_string }}{% endcomment %}
                {% if author != 0 %}
                    by <a class="off" href="{{ author.url }}">{{ author.title }}</a>
                {% endif %}
            </div>

            <div class="subtle smallnote">
	    tags:
	    {% for tag in tool.tags %}
	        {{ tag }}{% if tag != tool.tags.last %},{% endif %}
	    {% endfor %}
	    </div>
    <div class="smallspacer"></div>
    {% if tool.github %}
    <div class="smallhead">
      Source Code
    </div>
    <div class="pad-left note">
      <div class="smallspacer"></div>
      <i class="fa fa-github-alt fa-fw"></i>
        <a class="off" href="https://github.com/{{ page.github }}">{{ tool.github }}</a>
    </div>
    {% endif %}
	    
        </div>
        <div class="col-md-3">
            {{ tool.tagline }}
	</div>  
    </div>

{% endfor %}

<div class="bigspacer"></div>
