---
layout: default
title: "Posters"
description: "Conference posters by members of the lab"
group: navigation
navorder: 5
---
{% include JB/setup %}

<div class="bigspacer"></div>
<div class="bigtitle text-center">Posters</div>
<div class="smallspacer"></div>
<hr/>

{% assign years = "" | split: "" %}
{% for product in site.categories.posters %}
  {% assign years = years | push: product.year %}
{% endfor %}
{% assign years = years | uniq %}

{% for year in years %}
	<div class="title text-center">{{ year }}</div>
	<div class="bigspacer"></div>
	{% assign year_products = "" | split: "" %}
	{% for product in site.categories.posters %}
		{% if product.year == year %}
		  {% assign year_products = year_products | push: product %}
		{% endif %}
	{% endfor %}

	<table align="center"; width=1250px>
		{% tablerow product in year_products cols:2 %}
			{% if product.image %}
				{% assign image = product.image %}
			{% else %}
				{% assign image = "/assets/images/placeholder.png" %}
			{% endif %}

			<div class="col-md-2.5 paperbox">
				<div class="media"  style="width:525px; height:175px">
	        <div class="media">
	            <a class="pull-left" href="{{ product.url }}">
	            <img height=150 class="media-object" src="{{ image }}" style="border:1px solid #021a40;">
	            </a>
	            <div class="media-body">
	                <div class="smallhead media-heading">
	                    <a href="{{ product.url }}" class="off">{{ product.title }}</a>
	                </div>
                  <p>
                    <div class="note">
                      {{ product.authors }},
                      <span class="journal">
                        {{ product.conference }}
                      </span>
                      ({{ product.year }}).
                    </div>
                  </p>
	            </div>
	        </div>
				</div>
			</div>
			<div class="smallspacer"></div>
		{% endtablerow %}
	</table>

	<div class="bigspacer"></div>

	{% if year != years[-1] %}
		<hr/>
	{% endif %}
{% endfor %}
